.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.open-enter {
  height: 0;
}
.open-enter-active {
  height: 93px;
  transition: all 200ms;
}
.open-exit {
  height: 93px;
}
.open-exit-active {
  height: 0;
	padding: 0;
  transition: all 200ms;
}